@charset "utf-8";

#header {
    width: 1000px; height:100px;
    background-color: skyblue;
    margin: 0 auto; margin-top:20px;
    position: relative;
}
#header>h1 {
    width: 100px; height: 100px;
    background-color: orange;  
} 
#header>h1>a {
    display: block;
    text-align:center; line-height:100px;
}
.util {
    width: 200px; height: 40px;
    background-color: crimson;
    position:absolute;  right:0; top:0;
}
.gnb {
    width: 600px; height: 50px;
    position: absolute; right: 0; bottom:0;
    background-color: coral;
}
.gnb>ul>li {
    float: left;
    width: 25%;
}
.gnb>ul>li>a {
    display: block;
    text-align: center; line-height:50px;
}

