@charset "utf-8";

/* 0~599(max), 600(min)~899(max), 900(min)*/
/* 0~699(max), 700(min)*/

body { 
    background-color:chocolate; 
}

.nav{
    margin: 0 auto;
    background: skyblue;
}
.nav li{
    width:20%;
    float: left;
    border: 1px solid #000;
    padding: 10px;
}
.nav li a {
    display: block;
    text-align: center; line-height: 40px;
}
.nav li a:hover {
    background: blue;
    color: #fff;
}

/* tablet  : 600 ≦ tablet ≦ 899*/
@media screen and (min-width:600px) and (max-width:899px) {
    body { 
        background-color: skyblue;
    }
    .nav li {
        width:50%; 
    }
    .nav li:last-child { 
        width:100%; 
    }
}

/* moblie  : moblie ≦ 599*/
@media screen and (max-width:599px) {
    body { 
        background-color:red;
    }
    .nav li {
        width:100%;
    }
    .nav li:last-child {
        display: none;
    }

}