#wrap {
    width:100%;
}

/* 헤더영역 (#wrap>header) */
#wrap header {
    width:100%;  height:148px;
}

/* 탑메뉴 영역 (#wrap>header>#topArea) */
#wrap header #topArea {
    width:100%; height:28px;
    border-bottom:1px solid lightgrey;
}
#wrap header #topArea #lnbArea {
    width:980px;
    margin:0 auto;
}
#wrap #header #topArea #lnbArea .lnb {
    width:auto;
    float: right;
}
#wrap #header #topArea #lnbArea .lnb li {
    float: left;
}
#wrap #header #topArea #lnbArea .lnb li a {
    display: inline-block;
    height:12px;
    padding-left:14px; padding-right:14px;
    color:#888888; font-size:0.7rem; line-height:12px; text-align:center;
    border-right:1px solid #dddddd;
}
#wrap #header #topArea #lnbArea .lnb li a:hover { 
    color: #43484e;
}
/* 로고 영역 (#wrap>header>#logoArea) */
#wrap #header #logoArea {
    width:100%; height:75px; 
    font-size:1.5rem; font-weight:bold; text-align:center; line-height:74px;    
}

/* 메인 메뉴 영역 (#wrap>#header/#gnbArea) */

#wrap #header #gnbArea {
    width:100%;
    background-color:#1d5da4;
}
#wrap #header #gnbArea .gnb {
    width:980px; 
    margin:0 auto;
    background-color:#1d5da4;
}
#wrap #header #gnbArea .gnb li {
    float: left;
    width:calc(980px/6);
    border-left:1px solid #336dac;
}
#wrap #header #gnbArea .gnb li a:hover {
    background-color:#092c52;
}
#wrap #header #gnbArea .gnb li:last-child {
    border-right:1px solid #336dac;
}
#wrap #header #gnbArea .gnb li a {
    display:inline-block;
    width:100%; height: 45px;
    color:white; text-align: center; line-height:45px;
}

/* 메인 배너 영역 (#wrap>#visualArea) */

#wrap #visual {
    width:100%; height:400px;
    background: url(../images/main_bg01.jpg) no-repeat;
    overflow: hidden;
   
}
#wrap #visual .area {
    width:980px;
    margin:0 auto;
    position: relative;
}
#wrap #visual .area .text {
    position: absolute; left:0; top:70px;
    color: white;
}
#wrap #visual .area .text .title {
    font-size:4rem;
    line-height:4.4rem;
    margin-bottom:30px;
}
#wrap #visual .area .text .contents {
    margin-bottom:30px;
}
#wrap #visual .area img {
    position:absolute; right:0; top:0;
}
.visualAnker li{
    float: left;
    background-color:white;
    margin-right:7px;
}
.visualAnker li:first-child {
    background-color:#16457D;
}
.visualAnker li a{
    display: block;
    width:60px; height: 4px;
}

/* 서브 배너 영역 (#wrap>#bannerArea) */

#wrap #bannerArea {
    width:100%; height:200px;
    background-color:#eeeeee;
}
#wrap #bannerArea #banner {
    width:980px; height:100%;
    margin: 0 auto;
}
#wrap #bannerArea #banner li { float:left; }
#wrap #bannerArea #banner li:nth-child(1) { background-color:#7c99b9; }
#wrap #bannerArea #banner li:nth-child(2) { background-color:#4f74a1; }
#wrap #bannerArea #banner li:nth-child(3) { background-color:#4b8ce0; }
#wrap #bannerArea #banner li:nth-child(4) { background-color:#3db5f2; }
#wrap #bannerArea #banner li:nth-child(5) { background-color:#95c8ff; }
#wrap #bannerArea #banner li a {
    display:block;
    width:calc(980px/5); height:200px;
}
#wrap #bannerArea #banner li a .img {
    text-align: center;
    padding-top:15px;
}
#wrap #bannerArea #banner li a .text { padding: 10px; }
#wrap #bannerArea #banner li a .text .title {
    color:white; font-size:18px; font-weight: 500; text-align: center;
}
#wrap #bannerArea #banner li a .text .content {
    color:white; font-size:12px; text-align: center;
}

/* 컨테이너 영역 (#wrap>#contaniner) */

#wrap #contaniner {
    width:100%; 
    padding-top:50px;
    padding-bottom:50px;
    padding-right:0;  
}
#wrap #contaniner #contaninerArea {
    width:980px; height:auto;
    margin:0 auto;
} 
/* 컨테이너1 영역 (#wrap>#contaniner>#contaninerBanner01) */
#wrap #contaniner #contaninerArea #contaninerBanner01 li {
    float:left;
    width: calc(930px/3); height:286px;
    border:1px solid #dddddd;
    margin-right:25px;
}
#wrap #contaniner #contaninerArea #contaninerBanner01 li a .text {
    padding:10px;
}
#wrap #contaniner #contaninerArea #contaninerBanner01 li a .text .tltle {
    font-size:18px;
    padding-bottom:10px;
}
#wrap #contaniner #contaninerArea #contaninerBanner01 li a .text .content {
    color:#717171; font-size:12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#wrap #contaniner #contaninerArea #contaninerBanner01 li:last-child,
#wrap #contaniner #contaninerArea #contaninerBanner02 li:last-child  {
    margin-right:0;
}




/* 컨테이너2 영역 (#wrap>#contaniner>#contaninerBanner02) */

#wrap #contaniner #contaninerArea #contaninerBanner02 li {
    float:left;
    width: calc(930px/3); height:162px;
    border:1px solid #ccc;
    margin-right:25px;
    margin-top:25px;
}

/* 푸터 영역 (#wrap>#footer) */

#wrap #footer {
    width:100%; 
}
/* 개인정보 영역 (#wrap>#footer>#personal) */
#wrap #footer #personalInfo {
    width: 100%; 
    background-color:#43484e;
}
#wrap #footer #personalInfo #area {
    width:980px; height:44px;
    margin:0 auto;   
}
.personalUtilMenu li {
    float: left;
    line-height: 44px;
}
.personalUtilMenu li a {
    display: inline-block;
    color: #cccccc;
    padding-left:14px;
    padding-right:14px;
    height:12px;
    font-size:14px;
    line-height:12px;
    text-align:center;
}
.personalUtilMenu li:first-child a {
    padding-left:0;
}
.personalUtilMenu li:nth-child(2) a {
    border-left:1px solid #717171;
    border-right:1px solid #717171;
}
/* 회사정보 영역 (#wrap>#footer>#personal) */
#wrap #footer #companyInfo {
    background-color: #5e5e5e;
    width:100%; 

}
#wrap #footer #companyInfo #area { 
    width:980px; height:120px;
    margin: 0 auto;
    position: relative;
    padding-top:20px;
}
.companyInfologo {
    width:150px; 
    color: white;
    position: absolute; left:0; top:0;
    padding-top:30px;
}
.companyInfologo a{
    display: block;
    color: white;
}

address {
    position: absolute; left:180px;
}
address p:first-child {
    font-weight:bold;
    padding-bottom:6px;
}
address p {
    color: #888888;
    font-size: 12px;
}