@charset "utf-8";

.bx-wrapper {
    -moz-box-shadow:0 none;
    -webkit-box-shadow:0 none;
    box-shadow:0 none;
    border:0 none;
    margin-bottom:0;
}

.sliderWrap { 
    position:relative;
    width:1240px;
    margin:0 auto;
}
.sliderWrap .slider .txt{
    position:absolute; right:130px; top:100px;
    width:400px;
}
.txt h2{
    position:relative;
    font-size:1.8rem;
    margin-bottom:15px;
}
.txt h2:after{
    content:"";
    display:block;
    position:absolute; top:-10px;
    width:50px; height:4px;
    background:#000;
    border-radius:2px
}
.txt p { margin-bottom:30px; }
.txt .btn{
    display:block;
    width:150px;
    font-size:12px; text-align:center; line-height:35px;
    border:1px solid #000; border-radius:28px;
    transition:0.3s
}
.txt a.btn:hover { 
    background:#000;
    color:white; 
}
.sliderPager {
    position:absolute; top:0;
    width:300px; height:728px;
}
.sliderPager .bxPager {
    height:100%;
    background:#000;
}
.sliderPager .bxPager a{
    /* float: left; */
    /* width: calc( 100% / 4); */
    display: block;
    height:25%;
    display:flex; justify-content:center; align-items:center; /* 텍스트 정렬 */
    text-align:center; line-height: 40px;
    background:skyblue;
}
.sliderPager .bxPager a.active { 
    background:pink; 
}
.sliderPager .bxPager a:hover { 
    background:red; 
}