@charset "utf-8";

.box {
    width: 500px; height: 500px;
    background-color:skyblue;
    margin:0 auto;
    position: relative;
}
.box>div {
    width: 100px; height: 100px;
    text-align: center; line-height:100px;
    position: absolute;
}
.box1 { background-color: brown; right: 0;}
.box2 { background-color:aqua; right: 0; bottom:0;}
.box3 { background-color: olivedrab; left: 0; bottom:0;}
.box4 { background-color:darkcyan;}


.tbox {
    width: 500px; height: 200px;
    background-color:#ccc;
    margin: 20px auto;
    position: relative;
}

.tbox>div {
    position: absolute;
}
.tbox1 {
    width: 300px; height: 100px;
    background-color:red;
}
.tbox2 {
    width: 150px; height: 100px;
    background-color:yellowgreen;
}
.tbox3 {
    width: 500px; height: 100px;
    background-color:black;
}