@charset "UTF-8";

html, body { height:100%; }

.menu {
    position:fixed;
    width:100%;
    background-color:dodgerblue;
    padding-left:30px;
    display:flex;
}
.menu > h1 { margin-right:30px; line-height:40px; }
.menu > a { display:block; line-height:40px; padding:0 10px;  transition: 0.3s;}
.menu > a.on { background:orange; }

.scene {
    width: 100%; height: 100%;
    background-image:url(../images/pc01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* 모바일 지원 안됨.*/
    display: flex; justify-content: center; align-items: center;
}
.scene.one { background-image:url(../images/pc01.jpg); }
.scene.two { background-image:url(../images/pc02.jpg); }
.scene.three { background-image:url(../images/pc03.jpg); }
.scene div.txt { width:50%; }
.scene div.txt h2 { font-size: 6vh; }
.scene div.txt h2:after { 
    content:"";
    display:block;
    height:3px;
    background-color:white;
    margin:10px auto;
}