@charset "UTF-8";

html,body{height: 100%;}

.menu{
    position: fixed;
    background:dodgerblue ;width: 100%;
    padding-left:30px;
}

.menu>h1,.menu>a{float: left;}
.menu>h1{margin-right: 30px;line-height: 40px;}
.menu>a{display: block;line-height: 40px;padding: 0 20px;transition:0.3s; color:white;}
.menu>a.on{background:white; color:dodgerblue;}

.scene{
    width: 100%;height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;justify-content: center;align-items: center;
}
.scene.one{background-image: url(../images/pc01.jpg);}
.scene.two{background-image: url(../images/pc02.jpg);}
.scene.three{background-image: url(../images/pc03.jpg);}

.scene div.txt{
    width: 50%;
}
.scene div.txt h2{
    font-size: 6vh;
}
.scene div.txt h2:after {
    content:"";display: block;width: 100%;height: 3px;background: #fff;
    margin: 10px 0;border-radius: 2px;
}