@charset "UTF-8";

header {
    width:980px;
    margin:0 auto;
}

header h1 {
    width:125px; height:30px;
    margin: 20px auto;
    background-image: url(../../images/naver.png);
}
header h1 a {
    display: block;
    height:30px;
    text-indent:-9999px;
}
header .gnb li {
    float:left;
    width:140px; height:50px;
    background-image:url(../../images/top_gnb.png);
    background-repeat:no-repeat;
}

header .gnb li a {
    display:block;
    height:50px;
    text-indent:-9999px;
}

header .gnb li:nth-child(1) { background-position: 0 0; }
header .gnb li:nth-child(2) { background-position: 0 -50px; }
header .gnb li:nth-child(3) { background-position: 0 -100px; }
header .gnb li:nth-child(4) { background-position: 0 -150px; }
header .gnb li:nth-child(5) { background-position: 0 -200px; }
header .gnb li:nth-child(6) { background-position: 0 -250px; }
header .gnb li:nth-child(7) { background-position: 0 -300px; }

header .gnb li:nth-child(1):hover { background-position: 0 -350px; }
header .gnb li:nth-child(2):hover { background-position: 0 -400px; }
header .gnb li:nth-child(3):hover { background-position: 0 -450px; }
header .gnb li:nth-child(4):hover { background-position: 0 -500px; }
header .gnb li:nth-child(5):hover { background-position: 0 -550px; }
header .gnb li:nth-child(6):hover { background-position: 0 -600px; }
header .gnb li:nth-child(7):hover { background-position: 0 -650px; }