@charset "UTF-8";

#logo > a {
    display:block;
    width:200px; height:80px;
    text-align: center;
    transition:0.3s;
    margin:0 auto;
    text-align:center;
    line-height:80px;
    color: #03a688;
}
#logo > a:hover {
    color:#0a594b;
}
#nav { 
    width:100%; 
    border-bottom:1px solid #cccc;
    margin-bottom:20px;
}
#nav .menu {
    display:flex;
    width:1000px;
    margin:0 auto;
}
#nav .menu li { 
    width:200px; 
    position:relative;
}
#nav .menu li:before {
    content:"";
    transition:0.3s;
    position:absolute; left:50%; transform:translateX(-50%);
}
#nav .menu li.active:before,
#nav .menu li:hover:before {
    content:"";
    display:block;
    width:8px; height:8px;
    background-color:#03a688;
    position:absolute; left:50%; transform:translateX(-50%);
    border-radius:4px;
}
#nav .menu  li a { 
    display:block;
    text-align:center;
    line-height:40px;
}
#nav .barWrap { 
    width:1000px; height:5px;
    margin:0 auto;
    position:relative;
}
#nav .bar {
    width:200px; height: 5px;
    background-color:dodgerBlue;
    position:absolute; left:calc(200px*0);
    transition:0.3s;
}
#visual {
    height:500px; 
    background-color:orange; 
    display:flex; justify-content: center; align-items:center;
}
#visual.sub1 {
    background-color:skyblue; 
}
#visual.sub2 {
    background-color:chocolate; 
}
#visual.sub3 {
    background-color:darkcyan;
}
#visual.sub4 {
    background-color:darkorange;
}
#visual.sub5 {
    background-color:rosybrown;
}