@charset "UTF-8";

/* 박스 사라지게*/
.blind {
    display:block;
    position:absolute; left: 0; top:-9999px;
}

/* #content>.join>form>fieldset>.field>.inp-field */
/* 필드 구조 설정 */
.inp-field {
    width:350px; height:49px;
    border:0 none;
    font-size:16px; text-indent:12px;
}