@charset "UTF-8";

body {
    font-family:'Nanum Gothic', sans-serif; /* 전체 폰트 지정 */
    background-color:#eee; /* 전체 배경색 지정 */
}

#wrap {
    width:460px; 
    margin:0 auto;
}

#header { padding:60px 0; }

/* 로고 영역 */
#header h1 {
    width:240px; height:44px;
    margin:0 auto;
    background-image:url(../images/pc_sp_join.png);
    background-repeat:no-repeat;
    background-position: 0 -105px;  
}
#header h1 a {
    display:block;
    height:44px;
    text-indent:-9999px; /* 글자 사라지게 하기 */
}

/* content 영역 */
#content .join form fieldset {
    border:1px solid #dadada;
    background-color:white;
}
#content .join form fieldset .field {
    position:relative;
}
#content .join form fieldset .field .icon {
    display:block;
    width:97px; height:48px;
    position:absolute; right: 10px; top: 0;
    background-image:url(../images/ico_join3.png);
    background-repeat:no-repeat;
    background-position:0 -47px;
    text-indent:-9999px;
}
#content .join form fieldset .field .icon.email { 
    background-position: 0 -47px; 
}
#content .join form fieldset .field .icon.pass1 { 
    background-position: 0 -466px; 
}
#content .join form fieldset .field .icon.pass2 { 
    background-position: 0 -516px; 
}