@charset "UTF-8";

.table2 td {
    background:skyblue;
    text-align: center;
}
.table2 th {
    background:blue;
    color:white;
}
.table2 .borderBottom {
    border-bottom:1px solid #fff;
}

table.sample1 {
    width:800px;
    font-size:14px; color:white;
    margin:30px auto;
    border-collapse:collapse;

}
table.sample1 td,table.sample1 th {
    /* border: 1px solid #000; */
    padding:10px 0;
}
table.sample1 thead th:nth-child(1) {
    width:20%;
    background:#6C3306;
}
table.sample1 thead th:nth-child(2) {
    width:30%;
    background:#000;
}
table.sample1 thead th:nth-child(3) {
    background:#333;
}
table.sample1 thead { 
    color:orange 
}
table.sample1 tbody tr {
    background:#888;
    text-align:center;
    cursor: pointer;
}
table.sample1 tbody tr:nth-child(2n+1) { 
    background:#aaa; 
}
table.sample1 tbody tr>td:last-child {
    text-align:left; 
    text-indent:30px
}

/* after  */
table.sample1 tbody tr td {
    position:relative;
}
table.sample1 tbody tr td:after {
    content:"";
    display: block;
    width:1px;height:20px;
    background:#fff;
    position:absolute; top:10px; right: 0;
}
table.sample1 tbody tr td:last-child:after {
    content:"";
    display:none;
}

/* hover  */
table.sample1 tbody tr:hover {
    background:#555;
}

table.sample1 tfoot tr {
    text-align: center;
    background:#222;
}

table.sample2 {
    width: 1200px;
}