@charset "UTF-8";

h1{
  width: 100px;height: 100px;background: orange;
  /* position: absolute;left: 50%;top: 50%;
  margin-left: -50px;margin-top: -50px; */
}
.container {
  width:1000px;
  margin:0 auto;
}
li {
  float:left;
  display:flex; justify-content:center; align-items:center;
  height: 150px;
  margin-right:10px;
  border-radius:10px;
  background:skyblue;
  }
li.list5 {
  width:calc( (100% - 40px) / 5);
}
li.list4 {
  width: calc( (100% - 30px) / 4);
}
.test1 li:last-child {
  margin-right:0;
}
.test2 li:last-child {
  margin-right: 0;
}
.mb2 {
  margin-bottom: 2rem;
}