@charset "UTF-8";

body {background:#aaa;}
#man {
    position:absolute; left:200px;
    animation:bounce 0.7s linear infinite alternate;
}
#man div {position:absolute;}
#man div.body {z-index:3;}
#man div.armR {
    top:110px; left:-20px; 
    z-index:4;
    transform-origin:80px 21px;/* 중심축 이동 */
    transform:rotate(20deg); /* start 값 */
    animation:armR 0.7s linear infinite alternate;
} 
#man div.armL {
    top:110px; left:-20px; 
    z-index:2;
    transform-origin:80px 21px;/* 중심축 이동 */
    transform:rotate(-60deg); /* 회전 : start 값 */
    animation:armL 0.7s linear infinite alternate;
} 
#man div.armL {top:120px; left:-20px;}

#man div.footR {
    top:194px; left:-5px; 
    z-index:2;
    transform-origin:40px 46px;/* 중심축 이동 */
    transform:rotate(-10deg); /* start 값 */
    animation:footR 0.7s linear infinite alternate;
} 
#man div.footL {
    top:194px; left:-5px; 
    z-index:2;
    transform-origin:40px 46px;/* 중심축 이동 */
    transform:rotate(20deg); /* start 값 */
    animation:footL 0.7s linear infinite alternate;
} 

@keyframes bounce {
    50%{transform:translateY(10px) translateX(5px) scale(1.1) rotateY(180deg);} 
}

@keyframes armR {
    100%{transform:rotate(-60deg);} /* 회전 : end 값 : 20deg ⇨ -60deg */
}
@keyframes armL {
    100%{transform:rotate(20deg);} /* 회전 : end 값 : 20deg ⇨ -60deg */
}
@keyframes footR {
    100%{transform:rotate(20deg);} /* 회전 : end 값 : -10deg ⇨ -20deg */
}
@keyframes footL {
    100%{transform:rotate(-10deg);} /* 회전 : end 값 : 20deg ⇨ -10deg */
}
