@charset "UTF-8";



/* mainMenu 영역 작업 */
.gnb { 
    width:1200px;
    margin:0 auto;
    position:relative;
    z-index:1; 
}
.gnb .mainMenu > li {
    width:calc(100% / 4);
    float:left;
    position:relative;
    background:skyblue;
    transition:0.3s;
}
.gnb .mainMenu > li > a {
    display:block;
    line-height: 40px; text-align: center;
}
.gnb .mainMenu > li:hover {
    background:red;
}
.gnb .mainMenu > li:first-child .subMenu { display: block; }


/* mainMenu 영역 작업 */
.subMenu {
    display: none;
    width:100%;
    position:absolute;
    background:red;
}

/* bxSilder settting */
.slider > li > img { width: 100%; }
.bx-wrapper {
    -moz-box-shadow:0 none;
    -webkit-box-shadow:0 none;
    box-shadow:0 none;
    border: 0 none;
    margin-bottom: 0;
}