@charset "UTF-8";



/* mainMenu 영역 작업 */
.gnb { 
    width:1200px;
    margin:0 auto;
    position:relative; z-index:1; 
}

.gnb .mainMenu > li {
    width:calc(100% / 4);
    float:left;
    position:relative;
    background:skyblue;
    transition:0.3s;
}
.gnb .mainMenu > li > a {
    display:block;
    line-height: 40px; text-align: center;
    position: relative; z-index:1;
    background:red;
}
.gnb .mainMenu > li:hover {
    background:red;
}
/* .gnb .mainMenu > li:first-child .subMenu { display: block; } */




/* mainMenu 영역 작업 */
.subMenu {
    position:absolute; top:-200%;
    width: 100%;
    background-color:red;
    transition: 0.3s;
}

.gnb:hover .mainMenu > li > .subMenu {
    top:40px;
}

.subMenu a {
    text-align: center; display: block;
    line-height:30px;
    font-size:14px;
}
.subMenu a:hover {
    background-color:pink;
}

/* bxSilder settting */
.slider > li > img { width: 100%; }
.bx-wrapper {
    -moz-box-shadow:0 none;
    -webkit-box-shadow:0 none;
    box-shadow:0 none;
    border: 0 none;
    margin-bottom: 0;
}