@charset "UTF-8";

/* 공통 */
html,body { height:100%; }

.menuWrap { background-color:#333; }
.menuWrap a { color:#fff; }

.menuWrap h1 { 
    width:100px; 
    padding-left:16px;
    text-align:center; line-height:50px; 
}
.myTopMenu { position:absolute; left:120px; top:0; }
.myTopMenu a {
    display:block;
    float:left;
    padding:14px 16px;
}
.toggleMenu {
    width:50px; height:50px;
    /* border: 1px solid #fff; */
    position:absolute; right:16px; top:0px;
    display:none;
}
.toggleMenu div {
    width:34px; height:5px;
    background-color:#fff;
    border-radius:3px;
    position:absolute; left:50%; top:50%;
    transform:translate(-50%, -50%);
}
.toggleMenu .bar1 { top:14px; }
.toggleMenu .bar3 { top:36px; }

.toggleMenu.active .bar1 { top:50%; transform:translate(-50%,-50%) rotate(45deg); }
.toggleMenu.active .bar2 { opacity:0;}
.toggleMenu.active .bar3 { top:50%; transform:translate(-50%,-50%) rotate(-45deg); }


.paddingL8 { padding-left:8px; }


/* 너비가 900px 이상인 경우에 적용되는 코드 */
@media screen and (min-width:900px) {
    .menuWrap { 
        width:1200px; 
        position:fixed; top:20px; left:calc(50% - 600px); 
    }
}

/* 너비가 600px 이상~ 899px 이하에서 적용되는 코드 */
@media screen and (min-width:600px) and (max-width:899px) {
    body { 
        background-color:orange; 
    }
}

/* 너비가 599px 이하인 경우에 적용되는 코드 */
@media screen and (max-width:599px) {
    .toggleMenu { 
        display:block;
        position:fixed;
    }
    .myTopMenu { 
        width:100%; height: 100%; 
        background-color:black;
        position: fixed; top: 0; left:-100%;
        display:flex; justify-content:center; align-items:center;
    }
    .topNav { transform: translateY(-30px);}
    .myTopMenu a { 
        float:none; text-align:center;
    }
}