@charset "UTF-8";

#gallery {
    width:824px;
    margin:0 auto;
    background:skyblue;
    padding:30px 0;
}
#gallery > #image {
    width:760px;
    margin:0 auto;
}
#gallery > #image > p {
    display:none;
}
#gallery > #thumbnail {
    width:824px; /* height:95px; */
    display:flex;
}
#gallery > #thumbnail > div.left,
#gallery > #thumbnail > div.right {
    width:32px; height:95px;
    display:flex; justify-content:center; align-items:center;
    cursor:pointer;
}
#gallery > #thumbnail > div.container {
    width:760px; height:95px;
    overflow:hidden;
}
#gallery > #thumbnail > div.container > ul {
    display:flex; justify-content:space-between;
    width:calc( 760px * 3 );
    position:relative; left:calc( -760px * 0 );
    _transition:0.3s
}
#gallery > #thumbnail > div.container > ul > li {
   width:120px ;margin-left:8px;  
}
