@charset "UTF-8";

img { 
    width:500px; 
}
#wrap {
    width:500px; 
    height:230px;
    margin:0 auto;
    background-color:dodgerblue;
}
#wrap ul {
    width:500px; 
    height:200px;
    position:relative;
    overflow:hidden;
}
#wrap ul li {
    position:absolute; 
    left:100%
}
#wrap li:first-child { 
    left:0;  
}
#wrap .pager span {
    width:15px;
    height:15px;
    display:inline-block;
    border-radius:50%;
    background-color:orange;
    text-indent:-9999px;
    cursor:pointer;
}
#wrap .pager span:hover {
    background-color:#f00;
}
#wrap .pager span.active {
    background-color:#fff;
}

