@charset "UTF-8";

body {
    height:500vh;
    _background:#aaa;
    background-color:dodgerblue;
}
#wrap {
    width:100vw; height:100vh;
    perspective:1000px;
    position:fixed;
}
#wrap > .stage {
    width:100vw; height:100vh;
    transform-style:preserve-3d;
}
#wrap > .stage > .innerArea {
    width:100vw; height:100vh;
    transform-style:preserve-3d;
    position:relative;
    transform:translate3d(0,0,-500vw);
}
#wrap > .stage > .innerArea > .wall {
    position:absolute; left:0; top:0;
    width:100vw; height:100vh;
    background:rgba(255, 255, 255, 0.4);
    display:flex; justify-content:center; align-items:center; 
    font-size:3rem;
}
#wrap > .stage > .innerArea > .wall.wall0st.left {
    width:1000vw;
    transform:rotateY(90deg) translateZ(-500vw);
}
#wrap > .stage > .innerArea > .wall.wall0st.right {
    width:1000vw;
    transform:rotateY(90deg) translateZ(-400vw);
}