@charset "UTF-8";

/* 공통 */
@charset "UTF-8";

/* 공통 */
html, body { height:100vh; }

#header { background:#333; }
#header h1 a,
#header .mainMenu .nav a,
#header .mainMenu .nav a i { color:white; }

#header .mainMenu .nav a i { padding-left:20px; padding-right:6px; }
#header h1 {
    width:100px;
    text-align:center; line-height:50px; padding-left:16px;
}
.mainMenu { position:absolute; left:120px; top:0; }
.mainMenu .nav a {
    display: block;
    float: left;
    padding:14px 10px;
}

/* 토글메뉴 */
.toggleMenu {
    width:50px; height:50px;
    position:absolute; right:16px; top:0; 
    display:none;
}
.toggleMenu div {
    width: 34px; height: 5px;
    background:#fff;
    border-radius:3px;
    position:absolute; left:50%; top:50%;
    transform:translate(-50%, -50%);
}
.toggleMenu .bar1 { top:14px; }
.toggleMenu .bar3 { top:36px; }
.toggleMenu.active .bar1 {
    top:50%;
    transform:translate(-50%, -50%) rotate(45deg);
}
.toggleMenu.active .bar2 { opacity:0; }
.toggleMenu.active .bar3 {
    top:50%;
    transform:translate(-50%, -50%) rotate(-45deg);
}

/* 너비가 900px 이상인 경우에 적용되는 코드 */
@media screen and (min-width:900px) {
    #header {
        width:1200px; 
        position:fixed; left:calc(50% - 600px); top:20px;
    }
}

/* 너비가 600px 이상~ 899px 이하에서 적용되는 코드 */
@media screen and (min-width:600px) and (max-width:899px) {
    body { background:orange; }
}

/* 너비가 599px 이하인 경우에 적용되는 코드 */
@media screen and (max-width:599px) {
    #header {
        position:fixed;
        width: 100%;
    }
    .mainMenu {
        width:100%; height: 100%; 
        background:#333;
        position: fixed; top: 0; left:-100%;
        display:flex; justify-content:center; align-items:center;
    }
    .mainMenu { transform: translateY(-30px);}
    .mainMenu .nav > a { 
        float:none; text-align:left; text-align: center;
    }
    .toggleMenu {
        display:block;
        /* position:fixed; */
    }
}