@charset "UTF-8";
.box {
    /* width: 200px; height:200px; */
    position: absolute;
    background-color: #f00;
    animation-name:ani; /*애니메이션 이름*/
    animation-duration:2s; /* 시간(초) */

    animation-fill-mode:forwards; /* 종료 (끝에서 멈춤) */
    animation-iteration-count:infinite; /* 반복  회수 지정 */
    animation-direction:alternate; /* 원상태로 복원 */
    animation-timing-function:linear; /* 애니메이션 작동 */
    animation-delay:1; /* 지연 시간*/
}
@keyframes ani {
    0%, 100% { width:0px; height: 0; left: 0; }
    50% { width:200px; height: 200px; left: 100px; } 

}
.box1 {
    width: 20px;height: 50px; 
    background: blue;
    border-radius:10px;
    position: absolute; left: 50%;
    margin-left:-10px;

    animation-name:scroll;
    animation-duration:1s;

    animation-fill-mode:forwards; /* 종료 (끝에서 멈춤) */
    animation-iteration-count:infinite; /* 반복  회수 지정 */
    animation-direction:alternate; /* 원상태로 복원 */
}

@keyframes scroll {
    from { bottom: 30px;}
    to { bottom: 50px; }
}

.box1 .cir {
    width: 10px; height: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute; left: 50%; top: 5px; margin-left:-5px;
}